.Blog .container .row .col-lg-4{
    margin-bottom: 20px;
}
.Blog .container .row .view-more{
    align-items: center;
    display: flex;
    justify-content: center;
}
.Blog .card .card-body .card-title{
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
}
.Blog .card .card-body .card-text{
    font-size: 16px;
    margin: 10px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: justify;
}